.time-line-container>div:last-child .education__time>.education__line {
  display: none;
}

.prose-lg :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)){
  line-height: 1.4;
}

.prose :where(blockquote):not(:where([class~="not-prose"], [class~="not-prose"] *)){
  color: inherit;
  font-size: 0.9em;
}
