---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Contactform from "@components/Contactform.astro";
import { Icon } from "astro-icon/components";


const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="contacto">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Contacto</div>
    <div class="py-2">
      <text class="text-lg">

        <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
          <div>
            <h2 class="font-medium text-2xl text-gray-800">Contacta conmigo</h2>
            <p class="text-lg leading-relaxed text-slate-500 mt-3">
              Puedes preguntarme cualquier cosa relacionada con mi blog o con mis conocimientos personales,
              estaré encantado de responderrte.
            </p>
            <div class="mt-5">
              <div class="flex items-center mt-2 space-x-2 text-gray-600">
                <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
                <span>&nbsp;Madrid, España</span>
              </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
                <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a href="mailto:hello@gmail.com"
                  >&nbsp;jaime.terciado@gmail.com</a>
              </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
                <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
                  href="tel:+34 (---) -- -- --">&nbsp;+34 --- -- -- --</a>
              </div>
            </div>
          </div>
          <div>
            <Contactform />
          </div>
        </div>
    
      </text>
    </div>

    
  </div>
</BaseLayout>
