---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Curriculum" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>
  <div class="mb-10 text-justify">
  Soy un desarrollador web con más de 20 años de experiencia en la creación y gestión de aplicaciones para la industria de la traducción,
  incluyendo plataformas avanzadas para la administración de traductores y proyectos. 
  Tengo dominio de tecnologías clave como Astro, React, Node.js, y Django, 
  así como de lenguajes de programación como Python, JavaScript, TypeScript, PHP, SQL y Java. 
  Mi experiencia abarca desde el desarrollo front-end y back-end hasta la administración de sistemas,
  incluyendo la gestión de hosting, dominios, y bases de datos. Estoy enfocado en la eficiencia, 
  la automatización y en continuar creciendo en el ámbito del desarrollo web.  
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Técnico Superior en Administración de Sistemas Informáticos"
      subtitle="2002 - 2004, en IES. Educación Secundaria Rey Fernando VI, San Fernando de Henares, Madrid"
    />
    <TimeLineElement
      title="Máster en Desarrollo Web Full Stack"
      subtitle="2022 - 2024, en Academia Conquer Blocks. Cursado online."
    />
    <TimeLineElement
      title="Máster en Desarrollo Blockchain"
      subtitle="2022 - 2024, en Academia Conquer Blocks. Cursado online."
    />    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Carrera profesional</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Desarrollo de aplicaciones online para la gestión de traductores y gestión de proyectos"
      subtitle="2004 - 2024, en Advance Translations, Madrid"
    >
    Durante 20 años, desarrollé aplicaciones web para la gestión de traductores y proyectos en una empresa de traducciones. 
    Creé una plataforma en PHP y MySQL para el registro de traductores, incluyendo funcionalidades para la gestión de sus datos profesionales y currículums. 
    Implementé un avanzado sistema de filtrado y emailing para seleccionar y contactar traductores. 
    Además, gestioné proyectos de traducción de principio a fin, incluyendo presupuestos, selección de traductores y feedback con clientes. 
    También administré el hosting de la web y servicios asociados como dominios, DNS, cuentas de email, FTP y bases de datos, asegurando un entorno operativo eficiente.  
  </TimeLineElement>
    <TimeLineElement
      title="Auxiliar en Expediciones | Empresa de Preparación de Sandwicheras y Ensaladas"
      subtitle="1999 - 2000, en Andros Food, Madrid"
    >
    Durante este periodo, compaginé mis estudios de bachillerato nocturno con mi labor en el área de expediciones de una empresa local dedicada a la producción y distribución de sandwicheras y ensaladas para grandes superficies. Mis responsabilidades incluían la gestión y control de envíos, así como la preparación de pedidos para su distribución. Esta experiencia me permitió desarrollar habilidades en organización, trabajo en equipo y gestión del tiempo, ya que debía equilibrar las exigencias del trabajo y los estudios.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="pdf/certificado Técnico Superior en Administración de Sistemas Informáticos.pdf" target="_blank"> Técnico Superior en Administración de Sistemas Informáticos</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certificación de los Másters en proceso</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-4 columns-2 mx-6">
    <li>Astro</li>
    <li>Django</li>
    <li>React</li>
    <li>Node.js</li>
    <li>Streamlit</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Python</li>
    <li>Javascript</li>
    <li>PHP</li>
    <li>SQL</li>
    <li>Java</li>
    <li>Adobe Photoshop</li>
    <li>Adobe Framemaker</li>
    <li>Adobe Illustrator</li>
  </ul>
</BaseLayout>
