---
const { url, text } = Astro.props;
---

<div class="text-center">
  <a href={url} target="_blank" rel="noopener" class="btn btn-outline btn-accent">
    <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14M12 5l7 7-7 7"></path>
    </svg>
    {text}
  </a>
</div>
