---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div><img class="drop-shadow-[0_1px_0px_rgba(255,255,255,0.5)] opacity-75 max-w-24" src="/Logo-jtl.png"></div>
  <div class="opacity-75 mt-2">
    &copy; {today.getFullYear()} Jaime TL ⚡️<br />
    Desarrollado con Astro y con amor ❤️
  </div>
</footer>