---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Jaime TL
  </div>
  <div class="inline opacity-75">
    Desarrollado por <a href="https://github.com/Jaterli" target="_blank" class="font-bold">Jaime TL</a>⚡️</a>
  </div>
</footer>
<style></style>
